<div style="height:3px;"></div>
<TABLE cellSpacing=0 cellPadding=0 width=100% border=0>
	<TR>
		<td valign=top align=right>
	   		<TABLE cellSpacing=0 cellPadding=0 width=300 border=0 class=table_down_kat>
			      	<TR height=16><td>
				<div class=table_down_kat_element style="height:16px;">
				    <div class=f10><div style="width:25px;float:left;"><center><img src="main/color/scheme/green/top_users.png" width=16 height=16></center></div><b>{header}</b></div>
				</div>
			      	</TD></TR>
			      	<TR class=f10><td>
		      			<TABLE cellSpacing=1 cellPadding=0 width=100% border=0>
						{top_moders}
					</TABLE>
			      	</TD></TR>
				<tr class=f10>
					<td align=center></td>
				</tr>
			</TABLE>
		</td>
	</tr>
</TABLE>