body {
 font: 13px/1.4 sans-serif;
}

.fallback {
 display: none;
}

.notedefault, .notenested {
 position: absolute;
 visibility: hidden;
 top: 1.5em;
 left: 2em; width: 45em;
}
.notedefault {
 padding: 3px;
 border: 1px solid #C4C4C4;
 background-color: #E2E2E2;
 color: white;
}
.notenested {
 width: 8em;
 padding: 3px;
 border: 1px solid #963;
 background-color: #C96;
 color: white;
}

.snp-mouseoffset, .snp-triggeroffset, .snp-mousetrack {
 margin-left: auto;
 margin-top: auto;
}

.notedefault h5 {
 margin: 0 0 5px 0;
 padding: 2px;
 background-color: white;
 color: black;
}

.note-close {
 float: right;
 margin-top: 2px;
 width: 14px;
 height: 14px;
 line-height: 14px;
 color: black;
 text-decoration: none;
 visibility: hidden
}
.snb-pinned .note-close {
 visibility: inherit;
}