.table_toppanel {background: url(fon_toppanel.png) repeat-x; background-color: #006000; BORDER: #030303 1px solid; PADDING: 1px;}
.table_header {background: url(fon_header.png) repeat-x;}
.table_menu {background: url(fon_menu.png) repeat-x;}
.table_leftmenu {background: url(fon_leftmenu.png) repeat; background-color: #2c2c2c; BORDER-RIGHT: #006000 1px solid; BORDER-LEFT: #006000 1px solid;}
.table_leftmenu_user {background: url(fon_leftmenu_user.png) repeat; vertical-align:middle; background-color: #006000; BORDER-RIGHT: #006000 1px solid; BORDER-LEFT: #006000 1px solid;}
.table_leftmenu_user_menu {background-color: #2c2c2c; BORDER: #006000 1px solid; PADDING: 1px; MARGIN-TOP: 1px;}
.table_leftmenu_subkat {background-color: #2c2c2c; BORDER: #000000 1px solid; PADDING: 1px; MARGIN-TOP: 1px;}
.table_down_kat {background-color: #2c2c2c; BORDER: #006000 1px solid; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px;}
.table_down_kat_element {background: url(fon_down_kat.png) repeat; background-color: #006000; BORDER: #030303 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px;}
.table_kat {background-color: #2c2c2c; BORDER: #006000 1px solid; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px;}
#table_kat {background-color: #3A3A3A;}
.table_kat_element {background: url(fon_down_kat.png) repeat; background-color: #006000; BORDER: #030303 1px solid; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px;}
.table_int_table {background-color: #2c2c2c; BORDER: #006000 1px solid; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px;}
.table_int_table2 {background-color: #3A3A3A; BORDER: #006000 1px solid; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px;}
.table_int_int_table {background-color: #030303; BORDER: #006000 1px solid; PADDING: 1px; MARGIN-TOP: 1px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px;}
.table_int_int_table2 {background-color: #030303; MARGIN: 2px; PADDING: 3px;}

.button{background-color: #4a900a; height: 23px; border: #006000 1px solid; padding-bottom: 4px; padding-left: 14px; padding-right: 14px; padding-top: 4px; color: white; cursor: pointer; font-size: 11px; text-align: center; text-shadow: #45688E 0px 1px 0px;}
.button:hover{background-color: #68bb1d; border: #006000 1px solid;}
.button:active{background-color: #4a900a; border: #006000 1px solid;}

INPUT {BACKGROUND: #3e3e3e; BORDER: #000000 1px solid; FONT-SIZE: 9pt; COLOR: #d3d3d3; FONT-FAMILY: Trebuchet MS; FONT-WEIGHT: bold; HEIGHT: 18px; padding:1px;}
.INPUT2 {BACKGROUND: #3e3e3e; BORDER: #000000 1px solid; FONT-SIZE: 9pt; COLOR: #d3d3d3; FONT-FAMILY: Trebuchet MS; FONT-WEIGHT: bold; HEIGHT: 18px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px;}
	#INPUT2 {BACKGROUND: #2c2c2c; COLOR: #d3d3d3;}
.INPUT3 {BACKGROUND: #2c2c2c; BORDER: #000000 1px solid; FONT-SIZE: 9pt; COLOR: #d3d3d3; FONT-FAMILY: Trebuchet MS; FONT-WEIGHT: bold; HEIGHT: 18px;}
	#INPUT3 {BACKGROUND: #3e3e3e; COLOR: #d3d3d3;}
.INPUTB1 {cursor: url(cur_hand.cur), pointer; BACKGROUND: #2c2c2c; height:18; FONT-SIZE: 8pt; COLOR: #d3d3d3; BORDER: #006000 1px solid; FONT-FAMILY: Trebuchet MS; FONT-WEIGHT: bold;}
	#INPUTB1 {BACKGROUND: #3e3e3e; COLOR: #d3d3d3;}
.INPUTB2 {cursor: url(cur_hand.cur), pointer; BACKGROUND: #2c2c2c; height:18; FONT-SIZE: 9pt; COLOR: #d3d3d3; BORDER: #000000 1px solid; FONT-FAMILY: Trebuchet MS; FONT-WEIGHT: bold; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px;}
.INPUTB3 {cursor: url(cur_hand.cur), pointer; BACKGROUND: #2c2c2c; height:18; width:50; FONT-SIZE: 8pt; COLOR: #d3d3d3; BORDER: #000000 1px solid; FONT-FAMILY: Trebuchet MS; FONT-WEIGHT: bold; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px;}
	#INPUTB3 {BACKGROUND: #3e3e3e; COLOR: #d3d3d3;}
.INPUTB5 {cursor: url(cur_hand.cur), pointer; BACKGROUND: #2c2c2c; height:18; width:100; FONT-SIZE: 8pt; COLOR: #d3d3d3; BORDER: #000000 1px solid; FONT-FAMILY: Trebuchet MS; FONT-WEIGHT: bold;}
	#INPUTB5 {BACKGROUND: #3e3e3e; COLOR: #d3d3d3;}
TEXTAREA {BACKGROUND: #3e3e3e; BORDER: #000000 1px solid; FONT-SIZE: 9pt; COLOR: #d3d3d3; FONT-FAMILY: Trebuchet MS; FONT-WEIGHT: bold;}
.mceNoEditor {FONT-SIZE: 8pt;}
OPTION {BACKGROUND: #3e3e3e;  FONT-SIZE: 9pt; COLOR: #d3d3d3; FONT-FAMILY: Trebuchet MS; FONT-WEIGHT: bold; HEIGHT: 18px; BORDER:  1px solid;}

PRE {DISPLAY: none; text-align: left;}
.image{border: #888888 1px solid;}
.page {BACKGROUND-COLOR: #103100; BORDER: #000000 1px solid; border-radius:5px;}
.pagelink{BACKGROUND-COLOR: #106210; BORDER: #000000 1px solid; border-radius:5px;}

A:link {COLOR: #68bb1d; TEXT-DECORATION: none}
A:visited {COLOR: #68bb1d; TEXT-DECORATION: none}
A:hover {COLOR: #4a900a; TEXT-DECORATION: underline; text-shadow: 0px 0px 1px;}
A.link1:link {COLOR: #d3d3d3; TEXT-DECORATION: none}
A.link1:visited {COLOR: #d3d3d3; TEXT-DECORATION: none}
A.link1:hover {COLOR: #D6D6D6; TEXT-DECORATION: underline}
A.link2:link {COLOR: #D6D6D6; TEXT-DECORATION: none}
A.link2:visited {COLOR: #D6D6D6; TEXT-DECORATION: none}
A.link2:hover {COLOR: #d3d3d3; TEXT-DECORATION: underline}
A.linksorted:link {COLOR: #68bb1d; TEXT-DECORATION: underline}
A.linksorted:visited {COLOR: #68bb1d; TEXT-DECORATION: underline}
A.linksorted:hover {COLOR: #4a900a; TEXT-DECORATION: underline}

#rss {width:30px; height:30px; margin:auto; position:relative; display:block;}
#rss a{background-image:url(rss1.png); background-repeat: no-repeat; position:relative; display:block; width:30px; height:30px;}
#rss span.hover{width:30px; height:30px; background-image:url(rss.png); background-repeat: no-repeat; position:relative; display:block;}
#vk {width:30px; height:30px; margin:auto; position:relative; display:block;}
#vk a{background-image:url(vkontakte1.png); background-repeat: no-repeat; position:relative; display:block; width:30px; height:30px;}
#vk span.hover{width:30px; height:30px; background-image:url(vkontakte.png); background-repeat: no-repeat; position:relative; display:block;}

BODY {COLOR: #d3d3d3; BACKGROUND-COLOR: #030303; TEXT-DECORATION: none;
  cursor: url('cur_cursor.cur'), default;
  scrollbar-face-color: #002C00;
  scrollbar-highlight-color: #106210;
  scrollbar-shadow-color: #106210;
  scrollbar-3dlight-color: #106210;
  scrollbar-arrow-color: #106210;
  scrollbar-track-color: #103100;
  scrollbar-darkshadow-color: #106210;}

.f6  {FONT-SIZE: 6pt; FONT-FAMILY: Trebuchet MS;}
.f6b {FONT-SIZE: 6pt; FONT-FAMILY: Trebuchet MS; FONT-WEIGHT: bold;}
.f7  {FONT-SIZE: 7pt; FONT-FAMILY: Trebuchet MS;}
.f8  {FONT-SIZE: 8pt; FONT-FAMILY: Trebuchet MS;}
.f8b {FONT-SIZE: 8pt; FONT-FAMILY: Trebuchet MS; FONT-WEIGHT: bold;}
.f9  {FONT-SIZE: 9pt; FONT-FAMILY: Trebuchet MS;}
.f9b {FONT-SIZE: 9pt; FONT-FAMILY: Trebuchet MS; FONT-WEIGHT: bold;}
.f10 {FONT-SIZE: 10pt; FONT-FAMILY: Trebuchet MS;}
.f10b{FONT-SIZE: 10pt; FONT-FAMILY: Trebuchet MS; FONT-WEIGHT: bold;}
.f11 {FONT-SIZE: 11pt; FONT-FAMILY: Trebuchet MS;}
.f11b {FONT-SIZE: 11pt; FONT-FAMILY: Trebuchet MS; FONT-WEIGHT: bold;}
.f30 {FONT-SIZE: 30pt; FONT-FAMILY: Trebuchet MS;}
.f70 {FONT-SIZE: 70pt; FONT-FAMILY: Trebuchet MS;}

#tooltip {background:#fdfdfd; border:1px solid #666666; color:#000000; font: 10px Verdana, Arial, Tahoma, sans-serif; margin:2px; padding:2px 3px; position:absolute; visibility:hidden;}
.folded { display: block; background: transparent url('icon_plus.gif') no-repeat left center; margin-left:5px; padding-left: 14px;}
.unfolded { display: block; background: transparent url('icon_minus.gif') no-repeat left center; margin-left:5px; padding-left: 14px;}

.info, .success, .warning, .error1, .validation {border: 1px solid; margin: 10px 0px; padding:15px 10px 15px 50px; background-repeat: no-repeat; background-position: 10px center;}
.info {color: #00529B; background-color: #BDE5F8; background-image: url('../../images/msg/info.png');}
.success {color: #4F8A10; background-color: #DFF2BF; background-image:url('../../images/msg/success.png');}
.warning {color: #9F6000; background-color: #FEEFB3; background-image: url('../../images/msg/warning.png');}
.error1 {color: #D8000C; background-color: #FFBABA; background-image: url('../../images/msg/error.png');}
.validation {color: #D63301; background-color: #FFCCBA; background-image: url('../../images/msg/validation.png');}
.msg {background-color: #F4EBBD; border: #D7CF9E 1px solid; font-size: 11px; color: #000000; padding-bottom: 8px; padding-left: 11px; padding-right: 11px; padding-top: 8px;}

.topscroll { opacity: 0.6; }
.topscroll:hover { opacity: 0.9; }
.newmsgbox { position: fixed; bottom: 10px; right: 10px; top: auto; left: auto; width: 300px; height: 100px; background-color: rgba(0, 0, 0, 0.8039); border-radius:10px; color:#ffffff; font-size:10pt; padding:10px; box-shadow: 3px 4px 2px #000; }

.chat { width:185px; height:250px; background-color:#000000; border:#006000 2px solid; overflow-y: auto; padding:3px; }