/* ============      Spoiler    ============ */
.spoiler-wrap {
   width: 98%;
   margin: 5px;
   clear: both;
   background: #e9e9e6;
   border: solid #c3cbd1;
   border-width: 1px 1px 1px 2px;
}
.spoiler-head {
   font-size: 11px;
   padding: 1px 14px 3px;
   margin-left: 6px;
   line-height: 12px;
   font-weight: bold;
   color: #2a2a2a;
}
.spoiler-body {
   padding: 2px 6px 2px;
   display: none;
   border-top: 1px solid #C3CBD1;
   background: #F5F5F5;
   color: #000000;
}
.clickable {
   cursor: pointer;
}
.folded {
   display: block;
   background: transparent url(icon_plus.gif) no-repeat left center;
   padding-left: 14px;
}
.unfolded {
   display: block;
   background: transparent url(icon_minus.gif) no-repeat left center;
   padding-left: 14px;
}

/* ============      Quote    ============ */
.quote-wrap {
   width: 98%;
   margin: 3px auto;
   clear: both;
   background: #3e3e3e;
   border: solid #C3CBD1;
   border-width: 1px 1px 1px 1px;
   font: 11px Verdana,Arial,sans-serif;
}
.quote-head {
   font-size: 10px;
   padding: 1px 1px 3px;
   margin-left: 6px;
   line-height: 15px;
   font-weight: bold;
}
.quote-body {
   padding: 2px 8px 2px;
   border-top: 1px solid #e6e6e6;
   background: #2c2c2c;
}

.blockquote {
   background: #F4F5F7 url(../../../color/images/blockquote.gif) 3px 3px no-repeat;
   border: 1px dashed #CCC;
   padding: 8px 12px 8px 36px;
   margin: 5px 5px 5px 15px;
   overflow: auto;
   color:#000000;
}