.bbcode .markItUpButton1 a
{
	background-image:url(images/bold.png);
}
.bbcode .markItUpButton2 a
{
	background-image:url(images/italic.png);
}
.bbcode .markItUpButton3 a
{
	background-image:url(images/underline.png);
}
.bbcode .markItUpButton4 a
{
	background-image:url(images/stroke.png);
}
.bbcode .markItUpButton5 a
{
	background-image:url(images/text_align_left.png);
}
.bbcode .markItUpButton6 a
{
	background-image:url(images/text_align_center.png);
}
.bbcode .markItUpButton7 a
{
	background-image:url(images/text_align_right.png);
}
.bbcode .markItUpButton8 a
{
	background-image:url(images/line.png);
}
.bbcode .markItUpButton9 a
{
	background-image:url(images/picture.png);
}
.bbcode .markItUpButton10 a
{
	background-image:url(images/link.png);
}
.bbcode .markItUpButton11 a
{
	background-image:url(images/palette.png);
}
	.bbcode .markItUpButton11 ul
	{
		width:81px;
		padding:1px;
	}
	.bbcode .markItUpButton11  li
	{
		border:1px solid white;
		width:25px;
		height:25px;
		overflow:hidden;
		padding:0px;
		margin:0px;
		float:left;
	}
	.bbcode .markItUpButton11 ul a
	{
		width:25px;
		height:25px;
	}
	.bbcode .markItUpButton11 ul a:hover
	{
		background-color:none;
	}

	.bbcode .markItUpButton11 .col1-1 a
	{
		background:yellow;
	}
	.bbcode .markItUpButton11 .col1-2 a
	{
		background:orange;
	}
	.bbcode .markItUpButton11 .col1-3 a
	{
		background:red;
	}

	.bbcode .markItUpButton11 .col2-1 a
	{
		background:blue;
	}
	.bbcode .markItUpButton11 .col2-2 a
	{
		background:purple;
	}
	.bbcode .markItUpButton11 .col2-3 a
	{
		background:green;
	}

	.bbcode .markItUpButton11 .col3-1 a
	{
		background:white;
	}
	.bbcode .markItUpButton11 .col3-2 a
	{
		background:gray;
	}
	.bbcode .markItUpButton11 .col3-3 a
	{
		background:black;
	}
.bbcode .markItUpButton12 a
{
	background-image:url(images/fonts.png);
}
.bbcode .markItUpButton13 a
{
	background-image:url(images/quotes.png);
}
.bbcode .markItUpButton14 a
{
	background-image:url(images/spoiler.png);
}
.bbcode .markItUpButton15 a
{
	background-image:url(images/temp.png);
}